In [2]:
%LOAD sqlite3 db=../databases/imdb.db timeout=2 shared_cache=true

In [3]:
SELECT *
  FROM actors
 LIMIT 5;

+----+--------------------+
| id | name               |
+----+--------------------+
| 1  | Aamir Khan         |
+----+--------------------+
| 2  | Aaron Eckhart      |
+----+--------------------+
| 3  | Aaron Lazar        |
+----+--------------------+
| 4  | Abbas-Ali Roomandi |
+----+--------------------+
| 5  | Abbey Lee          |
+----+--------------------+
5 rows in set (0.00 sec)

In [4]:
--comment
SELECT *
  FROM actors
 LIMIT 5;