In [1]:
%LOAD sqlite3 db=../databases/imdb.db timeout=2 shared_cache=true

In [2]:
ATTACH "../databases/covid19.db" AS covid19;

In [3]:
ATTACH "../databases/nba.db" AS nba;

In [4]:
SELECT *
  FROM movies
 LIMIT 10;

+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| id | title                                             | release_year | rating | director             | runtime |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 1  | The Shawshank Redemption                          | 1994         | 9.3    | Frank Darabont       | 142     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 2  | The Godfather                                     | 1972         | 9.2    | Francis Ford Coppola | 175     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 3  | The Dark Knight                                   | 2008         | 9      | Christopher Nolan    | 152     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 4  | The Godfather Part II                             | 1974         | 9      | Francis Ford Coppola | 202     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 5  | 12 Angry Men                                      | 1957         | 9      | Sidney Lumet         | 96      |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 6  | Schindler's List                                  | 1993         | 9      | Steven Spielberg     | 195     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 7  | The Lord of the Rings: The Return of the King     | 2003         | 9      | Peter Jackson        | 201     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 8  | Pulp Fiction                                      | 1994         | 8.9    | Quentin Tarantino    | 154     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 9  | The Lord of the Rings: The Fellowship of the Ring | 2001         | 8.8    | Peter Jackson        | 178     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
| 10 | The Good, the Bad and the Ugly                    | 1966         | 8.8    | Sergio Leone         | 178     |
+----+---------------------------------------------------+--------------+--------+----------------------+---------+
10 rows in set (0.00 sec)

In [5]:
SELECT *
  FROM movies
 ORDER BY release_year
 LIMIT 10;

+-----+----------------------------+--------------+--------+---------------------+---------+
| id  | title                      | release_year | rating | director            | runtime |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 130 | The Kid                    | 1921         | 8.3    | Charles Chaplin     | 68      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 193 | Sherlock Jr.               | 1924         | 8.2    | Buster Keaton       | 45      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 175 | The Gold Rush              | 1925         | 8.2    | Charles Chaplin     | 95      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 182 | The General                | 1926         | 8.2    | Clyde Bruckman      | 67      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 115 | Metropolis                 | 1927         | 8.3    | Fritz Lang          | 153     |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 207 | The Passion of Joan of Arc | 1928         | 8.2    | Carl Theodor Dreyer | 114     |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 52  | City Lights                | 1931         | 8.5    | Charles Chaplin     | 87      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 97  | M                          | 1931         | 8.3    | Fritz Lang          | 99      |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 244 | It Happened One Night      | 1934         | 8.1    | Frank Capra         | 105     |
+-----+----------------------------+--------------+--------+---------------------+---------+
| 46  | Modern Times               | 1936         | 8.5    | Charles Chaplin     | 87      |
+-----+----------------------------+--------------+--------+---------------------+---------+
10 rows in set (0.00 sec)

In [6]:
SELECT *
  FROM movies
 ORDER BY director -- ascending
 LIMIT 10;

+-----+---------------------+--------------+--------+-------------------------+---------+
| id  | title               | release_year | rating | director                | runtime |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 125 | Like Stars on Earth | 2007         | 8.3    | Aamir Khan              | 165     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 204 | Mary and Max        | 2009         | 8.1    | Adam Elliot             | 92      |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 20  | Seven Samurai       | 1954         | 8.6    | Akira Kurosawa          | 207     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 92  | High and Low        | 1963         | 8.4    | Akira Kurosawa          | 143     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 107 | Ikiru               | 1952         | 8.3    | Akira Kurosawa          | 143     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 139 | Ran                 | 1985         | 8.2    | Akira Kurosawa          | 162     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 146 | Yojimbo             | 1961         | 8.2    | Akira Kurosawa          | 110     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 148 | Rashomon            | 1950         | 8.2    | Akira Kurosawa          | 88      |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 240 | Dersu Uzala         | 1975         | 8.2    | Akira Kurosawa          | 142     |
+-----+---------------------+--------------+--------+-------------------------+---------+
| 235 | Amores perros       | 2000         | 8.1    | Alejandro G. Iñárritu | 154     |
+-----+---------------------+--------------+--------+-------------------------+---------+
10 rows in set (0.00 sec)

In [7]:
SELECT *
  FROM movies
 ORDER BY release_year DESC -- descending
 LIMIT 10;

+-----+-----------------------------------+--------------+--------+-----------------+---------+
| id  | title                             | release_year | rating | director        | runtime |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 43  | Top Gun: Maverick                 | 2022         | 8.6    | Joseph Kosinski | 130     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 124 | Everything Everywhere All at Once | 2022         | 8.3    | Dan Kwan        | 139     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 121 | Spider-Man: No Way Home           | 2021         | 8.3    | Jon Watts       | 148     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 114 | Hamilton                          | 2020         | 8.4    | Thomas Kail     | 160     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 132 | The Father                        | 2020         | 8.2    | Florian Zeller  | 97      |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 35  | Parasite                          | 2019         | 8.5    | Bong Joon Ho    | 132     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 71  | Joker                             | 2019         | 8.4    | Todd Phillips   | 122     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 81  | Avengers: Endgame                 | 2019         | 8.4    | Anthony Russo   | 181     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 123 | 1917                              | 2019         | 8.2    | Sam Mendes      | 119     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 198 | Klaus                             | 2019         | 8.1    | Sergio Pablos   | 96      |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
10 rows in set (0.00 sec)

In [8]:
SELECT *
  FROM movies
 ORDER BY director DESC -- descending
 LIMIT 10;

+-----+-----------------------------+--------------+--------+-------------------+---------+
| id  | title                       | release_year | rating | director          | runtime |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 211 | Tokyo Story                 | 1953         | 8.2    | Yasujirô Ozu     | 136     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 77  | The Boat                    | 1981         | 8.4    | Wolfgang Petersen | 105     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 181 | Ben-Hur                     | 1959         | 8.1    | William Wyler     | 212     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 227 | The Best Years of Our Lives | 1946         | 8.1    | William Wyler     | 170     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 225 | The Exorcist                | 1973         | 8.1    | William Friedkin  | 122     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 190 | The Grand Budapest Hotel    | 2014         | 8.1    | Wes Anderson      | 99      |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 122 | Bicycle Thieves             | 1948         | 8.3    | Vittorio De Sica  | 89      |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 158 | Gone with the Wind          | 1939         | 8.2    | Victor Fleming    | 238     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 221 | The Wizard of Oz            | 1939         | 8.1    | Victor Fleming    | 102     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
| 38  | American History X          | 1998         | 8.5    | Tony Kaye         | 119     |
+-----+-----------------------------+--------------+--------+-------------------+---------+
10 rows in set (0.00 sec)

In [9]:
SELECT *
  FROM movies
 ORDER BY release_year DESC, -- descending
          rating,            -- ascending
          title              -- ascending
 LIMIT 10;

+-----+-----------------------------------+--------------+--------+-----------------+---------+
| id  | title                             | release_year | rating | director        | runtime |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 124 | Everything Everywhere All at Once | 2022         | 8.3    | Dan Kwan        | 139     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 43  | Top Gun: Maverick                 | 2022         | 8.6    | Joseph Kosinski | 130     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 121 | Spider-Man: No Way Home           | 2021         | 8.3    | Jon Watts       | 148     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 132 | The Father                        | 2020         | 8.2    | Florian Zeller  | 97      |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 114 | Hamilton                          | 2020         | 8.4    | Thomas Kail     | 160     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 214 | Ford v Ferrari                    | 2019         | 8.1    | James Mangold   | 152     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 198 | Klaus                             | 2019         | 8.1    | Sergio Pablos   | 96      |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 123 | 1917                              | 2019         | 8.2    | Sam Mendes      | 119     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 81  | Avengers: Endgame                 | 2019         | 8.4    | Anthony Russo   | 181     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
| 71  | Joker                             | 2019         | 8.4    | Todd Phillips   | 122     |
+-----+-----------------------------------+--------------+--------+-----------------+---------+
10 rows in set (0.00 sec)

In [11]:
SELECT title
  FROM movies
 ORDER BY release_year DESC, -- descending
          rating            -- ascending
 LIMIT 10;

+-----------------------------------+
| title                             |
+-----------------------------------+
| Everything Everywhere All at Once |
+-----------------------------------+
| Top Gun: Maverick                 |
+-----------------------------------+
| Spider-Man: No Way Home           |
+-----------------------------------+
| The Father                        |
+-----------------------------------+
| Hamilton                          |
+-----------------------------------+
| Klaus                             |
+-----------------------------------+
| Ford v Ferrari                    |
+-----------------------------------+
| 1917                              |
+-----------------------------------+
| Joker                             |
+-----------------------------------+
| Avengers: Endgame                 |
+-----------------------------------+
10 rows in set (0.00 sec)

In [12]:
SELECT runtime,
       runtime / 60 AS hours,
       runtime % 60 AS minutes
  FROM movies
 ORDER BY hours DESC,
          minutes
 LIMIT 10;

+---------+-------+---------+
| runtime | hours | minutes |
+---------+-------+---------+
| 180     | 3     | 0       |
+---------+-------+---------+
| 181     | 3     | 1       |
+---------+-------+---------+
| 181     | 3     | 1       |
+---------+-------+---------+
| 183     | 3     | 3       |
+---------+-------+---------+
| 185     | 3     | 5       |
+---------+-------+---------+
| 189     | 3     | 9       |
+---------+-------+---------+
| 191     | 3     | 11      |
+---------+-------+---------+
| 195     | 3     | 15      |
+---------+-------+---------+
| 201     | 3     | 21      |
+---------+-------+---------+
| 202     | 3     | 22      |
+---------+-------+---------+
10 rows in set (0.00 sec)

In [13]:
SELECT *
  FROM movies
 ORDER BY runtime
 LIMIT 10;

+-----+----------------------+--------------+--------+-------------------+---------+
| id  | title                | release_year | rating | director          | runtime |
+-----+----------------------+--------------+--------+-------------------+---------+
| 193 | Sherlock Jr.         | 1924         | 8.2    | Buster Keaton     | 45      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 182 | The General          | 1926         | 8.2    | Clyde Bruckman    | 67      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 130 | The Kid              | 1921         | 8.3    | Charles Chaplin   | 68      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 226 | Before Sunset        | 2004         | 8.1    | Richard Linklater | 80      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 75  | Toy Story            | 1995         | 8.3    | John Lasseter     | 81      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 239 | Persona              | 1966         | 8.1    | Ingmar Bergman    | 83      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 249 | Beauty and the Beast | 1991         | 8      | Gary Trousdale    | 84      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 172 | My Neighbor Totoro   | 1988         | 8.1    | Hayao Miyazaki    | 86      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 46  | Modern Times         | 1936         | 8.5    | Charles Chaplin   | 87      |
+-----+----------------------+--------------+--------+-------------------+---------+
| 52  | City Lights          | 1931         | 8.5    | Charles Chaplin   | 87      |
+-----+----------------------+--------------+--------+-------------------+---------+
10 rows in set (0.00 sec)

In [14]:
SELECT *
  FROM movies
 ORDER BY runtime DESC
 LIMIT 10;

+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| id  | title                                         | release_year | rating | director             | runtime |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 158 | Gone with the Wind                            | 1939         | 8.2    | Victor Fleming       | 238     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 80  | Once Upon a Time in America                   | 1984         | 8.3    | Sergio Leone         | 229     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 95  | Lawrence of Arabia                            | 1962         | 8.3    | David Lean           | 218     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 181 | Ben-Hur                                       | 1959         | 8.1    | William Wyler        | 212     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 20  | Seven Samurai                                 | 1954         | 8.6    | Akira Kurosawa       | 207     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 4   | The Godfather Part II                         | 1974         | 9      | Francis Ford Coppola | 202     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 7   | The Lord of the Rings: The Return of the King | 2003         | 9      | Peter Jackson        | 201     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 6   | Schindler's List                              | 1993         | 9      | Steven Spielberg     | 195     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 247 | Gandhi                                        | 1982         | 8.1    | Richard Attenborough | 191     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
| 26  | The Green Mile                                | 1999         | 8.6    | Frank Darabont       | 189     |
+-----+-----------------------------------------------+--------------+--------+----------------------+---------+
10 rows in set (0.00 sec)

# Exercise

In [23]:
SELECT personId,
       ppg
  FROM nba.career_summaries
 ORDER BY ppg DESC
 LIMIT 10;

+----------+------+
| personId | ppg  |
+----------+------+
| 201142   | 27.2 |
+----------+------+
| 2544     | 27.1 |
+----------+------+
| 1629029  | 26.4 |
+----------+------+
| 203954   | 26   |
+----------+------+
| 1629627  | 25.7 |
+----------+------+
| 1629027  | 25.3 |
+----------+------+
| 201935   | 24.9 |
+----------+------+
| 203081   | 24.6 |
+----------+------+
| 201939   | 24.3 |
+----------+------+
| 1628378  | 23.9 |
+----------+------+
10 rows in set (0.00 sec)

In [24]:
SELECT Date,
       Country_Region,
       Daily_Cases
  FROM covid19.time_series
 ORDER BY Daily_Cases DESC
 LIMIT 10;

+------------+----------------+-------------+
| Date       | Country_Region | Daily_Cases |
+------------+----------------+-------------+
| 2022-01-10 | US             | 1383913     |
+------------+----------------+-------------+
| 2022-01-18 | US             | 1129521     |
+------------+----------------+-------------+
| 2022-01-03 | US             | 1044956     |
+------------+----------------+-------------+
| 2022-01-24 | US             | 922164      |
+------------+----------------+-------------+
| 2022-01-19 | US             | 908133      |
+------------+----------------+-------------+
| 2022-01-14 | US             | 880068      |
+------------+----------------+-------------+
| 2022-01-07 | US             | 869756      |
+------------+----------------+-------------+
| 2022-01-13 | US             | 861347      |
+------------+----------------+-------------+
| 2022-01-12 | US             | 848642      |
+------------+----------------+-------------+
| 2022-01-31 | United Kingdom | 848169      |
+------------+----------------+-------------+
10 rows in set (0.11 sec)

In [31]:
SELECT personId,
       assists,
       turnovers
  FROM nba.career_summaries
 ORDER BY (CAST(assists AS REAL)/turnovers) DESC
 LIMIT 10;

+----------+---------+-----------+
| personId | assists | turnovers |
+----------+---------+-----------+
| 1630540  | 41      | 5         |
+----------+---------+-----------+
| 1626145  | 1691    | 326       |
+----------+---------+-----------+
| 1630573  | 10      | 2         |
+----------+---------+-----------+
| 1628420  | 1042    | 218       |
+----------+---------+-----------+
| 1630200  | 272     | 59        |
+----------+---------+-----------+
| 1630580  | 9       | 2         |
+----------+---------+-----------+
| 1629162  | 498     | 120       |
+----------+---------+-----------+
| 1628221  | 4       | 1         |
+----------+---------+-----------+
| 1629875  | 24      | 6         |
+----------+---------+-----------+
| 1630602  | 4       | 1         |
+----------+---------+-----------+
10 rows in set (0.00 sec)